.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    background-color: rgb(0, 8, 37);
    margin: 0 200px;
    height: 90vh;
}

.bar {
    flex: 1;
    height: 50%;
    background-color: cyan;
    margin: 0 auto;
    border: 1px solid black;
}